/* Fake Google CSS */

* {
  margin: 0;
  padding: 0;
}

body {
font-family: Arial, sans-serif;
font-size: 13px;
}

#container{
width: 580px;
margin: 0 auto;
text-align: center;
}

h1#logo{
  width: 269px;
  height: 95px;
  background: url('googlelogo.png') top left no-repeat;
  background-size: 100%;
  text-indent: -9999px;
  margin: 0 auto;
}

input[type="text"] {
  width: 566px;
  /*height: 40px;*/
  padding:7px;
  /*display: block;*/
  margin: 25px 0 18px;
}
